body{
    background-color: rgb(248, 226, 217);
    color: #000;
}

hr{
    height: 2px;
    background-color: rgb(115, 173, 212);
    border: 0px;
}

.NavBar{
    background-color: rgb(115, 173, 212);
    width: 100%;
    height: 50px;
    line-height: 50px;
    overflow: hidden;
    position: sticky;
}

.LinksList a{
    float: top;
}

.NavBar a{
    font-size: 17px;
    font-weight: bold;
    background-color: black;
    display: inline-block;
    padding: 0 12px;
}

.NavBar a:hover{
    background-color: rgb(248, 226, 217);
}